<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class= "card text-center w-90" style="background-color:#c8cacc"> 
    <%= image_tag("Apex Logo 1.png", alt: "logo", class: "like_image_for_index rounded") %>
    <br/>
    <form>
  <div class="mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"form-control" %>
  </div>


  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-secondary' %>
  </div>
</form>
</div>


<% end %>

<%= render "devise/shared/links" %>



